$default: white;
$darkblue:#2d8cf0;
$blue:blue;
$darkGreen: #418117;
$darkGrey: #a7a7a7 ;
$shallowGrey: #eee;
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
   font-family: Microsoft YaHei;
	// font-family:"Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;
	font-size:14px;
	margin:0 auto;
	display:block;
	background: #fff1e5  none repeat scroll 0 0;
    width:100%;
    height:100%
}
div {
	text-align: left;
	line-height: 140%;
}
img {
	border:medium none;
	max-width:100%;
}
a {
    color: $darkGrey;
    text-decoration: none;
    &:hover, &:active {
        text-decoration: none;
		color: $darkGreen;
	}
}
ul,li{
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
    text-decoration:none;
}
.clearfloat{
	clear:both;
}
button {
    // display: inline-block;
    // -webkit-box-sizing: border-box;
    // box-sizing: border-box;
    // vertical-align: middle;
    // margin: 0;
    // outline: 0;
    // border-style: solid;
    // text-align: center;
    // text-decoration: none;
    // font-weight: 600;
    // border-radius: 3px;
    // cursor: pointer;
    // -webkit-transition: .3s background-color,.15s color ease-out,.15s border-color ease-out;
    // transition: .3s background-color,.15s color ease-out,.15s border-color ease-out;
    // -moz-appearance: none;
    // -webkit-appearance: none;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
    // background-clip: padding-box;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // background-size: 16px;
    // min-height: 26px;
    // min-width: 26px;
    // padding: 0 8px;
    // font-size: 14px;
    // line-height: 26px;
    // border-width: 1px;
    // color: #27757b;
    // background-color: rgba(255,255,255,.4);
    // border-color: rgba(39,117,123,.15);

		// &:before {
		// 	display: inline-block;
		// 	width: 12px;
		// 	height: 12px;
		// 	background-repeat: no-repeat;
		// 	background-size: contain;
		// 	background-position: 50%;
		// 	background-color: transparent;
		// 	content: ' ';
		//     left: 8px;
		//     margin: -6px 4px 0 0;
		//     position: absolute;
		//     top: 50%;
		// }


}
label{
    margin-bottom: 0px; 
    font-weight: 100;
}
input[type=checkbox], input[type=radio]{
    margin: 0px;
}

.leftFloat{
    float:left;
}
.rightFloat{
    float:right;
}
.clearFloat{
    clear:both;
}
@mixin verticalMiddle{
    display: flex;
    align-items: center;
}

@mixin horizontalMiddle{
    display: flex;
    justify-content: center;
}
@mixin horizontalSpace{
    display: flex;
    justify-content: space-between;
}

